*.tmp
*.user
*.rej
*.tlb
*.pdn
*.bak
*.orig
**/dotCover.Output/
*.dcvr
*.html
*.pdb
*.obj
**/bin/
*/.vs/
**/.vs/
*/obj/
**/obj/
*.cache
*.vcxproj.user
*.csproj.user
**/launchSettings.json
